<mat-toolbar color="accent">
    <!-- <a routerLink="/home"
     mat-icon-button class="example-icon"
     aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
</a> -->

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container" style="margin-top: 20px;">
            <!-- Navbar Brand -->
            <img style="height: 50px; width:60px"
            src="https://o.remove.bg/downloads/a6829040-7d88-4ea7-9c02-9f33a7c28105/LetterLogo-removebg-preview.png"
            alt="logo" >
            Eduphoria
        </div>
    </nav>
</header>
<span class="example-spacer"></span>
<a mat-icon-button class="example-icon favourite-icon ">About Us</a> &nbsp;&nbsp;
<!-- <a style="color:white; float: right;">Contact Us</a> -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="'/login'"
     mat-icon-button class="example-icon favourite-icon "
     aria-label="Example icon-button with heart icon" >
    <mat-icon>register</mat-icon> Login
</a>
</mat-toolbar>



<!-- <div class="back_ground_image">
</div>
<div class="web">
    <div class="cards">
        <img src="https://www.onlc.com/blog/wp-content/uploads/2017/07/ONLC-2017-4.png" alt="">
        <br>
        <br>
    <h1>Programming </h1>
    <br> 
    <br>
    <p> Watch Out for exercises in diiferent programming languages like c,cpp,java and python</p>
    </div>
    <div class="cards">
    <img src="https://thumbs.dreamstime.com/b/letter-ui-logo-hexagon-shape-colorful-background-combination-design-business-company-identity-203774633.jpg" alt="">
        <br>
        <br>
        <h1> UI</h1>
    <br>
    <br>
    <p>Learn and explore exciting exercises on HTML,CSS,Javascript,ReactJS and Angular</p>
    </div>    
    <div class="cards">
        <img src="https://cdn6.aptoide.com/imgs/0/e/8/0e850911f556d8e94da574fee23604c2_icon.png " alt="">
        <br>
        <br>
        <h1>Aptitude</h1>
        <br>
        <br>
        <p>Watch Out for brainstroming exercises on mathematics and exclusive mocks for different exams like CAT,SBIPO,GATE and other related exams</p>
    </div>

</div> -->
<div class="back_ground_image">
    
</div>


<div class="web">
<div class="cards">
    <img src="https://www.onlc.com/blog/wp-content/uploads/2017/07/ONLC-2017-4.png" alt="">
    <br>
    <br>
<h1>Programming </h1>

<p> Watch Out for exercises in diiferent programming languages like c,cpp,java and python</p>
</div>
<div class="cards">
<img src="https://thumbs.dreamstime.com/b/letter-ui-logo-hexagon-shape-colorful-background-combination-design-business-company-identity-203774633.jpg" alt="">
    <br>
    <br>
    <h1> UI</h1>

<p>Learn and explore exciting exercises on HTML,CSS,Javascript,ReactJS and Angular</p>
</div>    
<div class="cards">
    <img src="https://cdn6.aptoide.com/imgs/0/e/8/0e850911f556d8e94da574fee23604c2_icon.png " alt="">
    <br>
    <br>
    <h1>Aptitude</h1>
    
    <p>Watch Out for brainstroming exercises on mathematics and exclusive mocks for different exams like CAT,SBIPO,GATE and other related exams</p>
</div>

<div class="cards">
    <img src="https://prepbytes-misc-images.s3.ap-south-1.amazonaws.com/assets/1644826783284-3.%20Data%20Structures.png" alt="">
    <br>
    <br>
    <h1>Data Structures</h1>
    
    <p>Master all your concepts in data structure starting from arrays,linked lists,stacks,queues and trees,and so on</p>
</div>

<div class="cards">
    <img src="https://www.theschoolrun.com/sites/theschoolrun.com/files/article_images/hardware_software_and_operating_system.jpg" alt="">
    <br>
    <br>
    <h1>Operating System</h1>
    
    <p>New to OS? Finding it to difficult to understand the concepts of it?.we will guide you to excel in this topic.Feel free to explore</p>
</div>

<div class="cards">
    <img src="https://choiceworker.com/category/img/other-other.jpg" alt="">
    <br>
    <br>
    <h1>Others</h1>
    
    <p>Excel your preparation by praticing our exclusive study material for all exams like cat,mat,gate and cmat</p>
</div>
</div>