/* .back_ground_image{
    background-image: url("https://studentprojectguide.com/wp-content/uploads/2020/07/Online-Exam-Portal-1024x576.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
height: 100vh;
width: 100%;
}
.cards{
    background-color:rgb(192, 192, 220);
    height: 500px;
    width: 375px;
    margin: 50px;
    border-radius: 10px;
padding: 10px;
border: 2px solid black;
text-align: center;

}
.cards img{
    border-radius: 10px;
height: 150px;
width: 150px;


    }
    .cards p{
        font-size: 20px;
    }
    .web{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(55, 5, 102);
    } */

    .back_ground_image{
        background-image: url("https://whataftercollege.com/wp-content/uploads/2021/05/Online-examination-software.png");
        background-repeat: no-repeat;
        background-size:cover;
    height: 500px;
    width: 100vh;
    margin: auto;
    background-color:white;
    }
    .cards{
        background-color:whitesmoke;
        height: 350px;
        width: 375px;
        margin: 50px;
        border-radius: 5px;
    padding: 10px;
    border: 1px whitesmoke;
    text-align: center;
    
    }
    .cards img{
        border-radius: 10px;
    height: 150px;
    width: 150px;
    
    
        }
        .cards p{
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .web{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            background-color: rgb(225, 168, 213);
        }
        .web :hover{
            scale:1.1;
        }