<mat-card class="card">
    <h1>Update Quiz</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form *ngIf="quiz" (ngSubmit)="updateData()">
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Enter Title</mat-label>
                        <input 
                        [(ngModel)]="quiz.title"
                        type="text" name="title" placeholder="Enter here" matInput required/>
               </mat-form-field>
               <mat-form-field class="w100">
                <mat-label>Enter Description</mat-label>
                <textarea 
                [(ngModel)]="quiz.description"
                type="text" name="description" placeholder="Enter Description" matInput rows="5">
                    </textarea>
       </mat-form-field>
       <div class="row">
        <div class="col-md-6">
            <mat-form-field class="w100" appearance="fill">
                <mat-label>Maximum Marks</mat-label>
                <input 
                [(ngModel)]="quiz.maxMarks"
                type="text" name="maxMarks" placeholder="Enter here" matInput required/>
       </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w100" appearance="fill">
                <mat-label>Number Of Questions</mat-label>
                <input 
                [(ngModel)]="quiz.noOfQuestions"
                type="text" name="noOfQuestions" placeholder="Enter here" matInput required/>
       </mat-form-field>  
        </div>
       </div>
       <mat-slide-toggle name="active"
       [(ngModel)]="quiz.active"
          class="mt20">
        Publish Status
      </mat-slide-toggle>
      <br/>
      <mat-form-field appearance="fill" class="mt20 w100">
        <mat-label>Select Category</mat-label>
        <mat-select  name="category" [(ngModel)]="quiz.category.cid">
          <mat-option *ngFor="let c of categories"  [value]="c.cid">
            {{c.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="container mt20">
        <button mat-raised-button color="accent" type="submit">Update</button>
      </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>
