<mat-card>
    <mat-list >
        <div matSubheader>All Categories</div>
        <mat-list-item *ngFor="let c of categories">
            <mat-icon matListItemIcon>category</mat-icon>
         <div>{{c.title}}</div>
         <div>{{c.description}}</div>
         <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
    </mat-list>
    <div class="container text-center mt-20 but">
    <button (click)="addCat()" mat-raised-button color="accent">Add New Category</button>
    </div>
</mat-card>
