<div class="container">
    <input type="file" (change)="selectFile($event)" required>
    <br>
    <button class="u" (click)="uploadFile()" class="btn" mat-raised-button color="accent">
        Upload
    </button>
</div>

