<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <mat-card style="margin-top: 65px;">
                    <mat-card-content>
                        <h3><b> Instructions </b></h3>
                        <ul>
                            <li> Do not switch the tabs during the test.
                                If found switching the tab or minimising the window, the test gets automatically submitted </li>
                            <li> Do not referesh the page </li>
                            <li> You are not allowed to go back until the exam is submitted</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-8">
                <ng-container *ngIf="questions">
                    <h1 class="mt20"> On Going Quiz <b>{{questions[0].quizzes.title}}</b> </h1>
                </ng-container>

                <mat-card>
                <!-- <mat-card *ngFor="let q of questions;let i=index" class="mt10"> -->
                    <mat-card-content>
                        <p> Question <b> {{currentQuestionNo+1}}</b> of <b> {{questions.length}} </b>
                            <span class="ml10" [innerHTML]="questions[currentQuestionNo].content"></span>
                        </p>

                        <mat-divider></mat-divider>
                        <br />
                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio" [value]="questions[currentQuestionNo].option1" [(ngModel)]="questions[currentQuestionNo].givenAnswer" />{{questions[currentQuestionNo].option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="questions[currentQuestionNo].option2" [(ngModel)]="questions[currentQuestionNo].givenAnswer" />{{questions[currentQuestionNo].option2}}
                            </div>
                        </div>

                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio" [value]="questions[currentQuestionNo].option3" [(ngModel)]="questions[currentQuestionNo].givenAnswer" />{{questions[currentQuestionNo].option3}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="questions[currentQuestionNo].option4" [(ngModel)]="questions[currentQuestionNo].givenAnswer" />{{questions[currentQuestionNo].option4}}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <br>
                <br>
                <span class="col-4 text-left">
                    <button class="btn btn-link" [disabled]="currentQuestionNo==0"
                    (click)="prevQuestion()">
                        Previous
                    </button>
                </span>
                <span class="col-4 text-right" style="margin-left: 85%;">
                    <button  class="btn btn-link" [disabled]="questions.length-1 == currentQuestionNo"
                    (click)="nextQuestion()">
                        Next
                    </button>
                </span>
                <div class="container text-center mt20 mb20" style="text-align: end;">
                    <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
                </div>
            </div>
            <div class="col-md-2">
                <mat-card style="margin-top: 65px;">
                    <mat-card-header>
                        <mat-card-title> Time </mat-card-title>
                        <mat-card-subtitle> Quiz will be automatically submitted when timer ends </mat-card-subtitle>
                    </mat-card-header>
                    <br>
                    <mat-card-content>
                        <h1 class="text-center"> {{getFormattedTime()}} </h1>
                        <mat-spinner mode="determinate" color="accent" style="margin: auto;"
                            [value]="(timer/(this.questions.length*2*60))*100">
                        </mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- Show the result -->

<div class="bootstrap-wrapper"  *ngIf="isSubmit">
    <div class="container text-center" id="marks" #marks>
        <div class="row mt20">
            <div class="col-md-6 offset-md-3" >
                <div id="tabSwitch" [innerHTML]="msg" style="text-align: center;margin:10px"> </div>
                <br>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title> Quiz Result </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="text-center">
                        <h1> Marks obtained: <b> {{marksGot}}  </b></h1>
                        <h1> Correct Answers: <b> {{correctAns}} </b> </h1>
                        <h1> Questions attempted: <b> {{attempted}} </b></h1>
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                       
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container mt20">
        <button (click)="printPage()" mat-raised-button color="primary"> Print </button>
        <button (click)="downloadPDF()" mat-raised-button color="accent"  class="ml20"> Download </button>
        <button mat-raised-button color="primary" [routerLink]="'/userdashboard'" class="ml20"> Home
        </button>
    </div>
</div>