body{
    height:100%;
    margin:0;
    
}
.full-width{
    width: 100%;
}
.text-center{
    text-align: center;
}
.ml{
    margin-left:20px;
}
.mr{
    margin-right: 20px;
}
.mt{
    margin-top: 20px;
}