<mat-toolbar color="accent">
    <a routerLink="/home"
     mat-icon-button class="example-icon"
     aria-label="Example icon-button with menu icon">
    <!-- <mat-icon>menu_book</mat-icon> -->
</a>

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container" style="margin-top: 20px;">
            <!-- Navbar Brand -->
            <img src="https://o.remove.bg/downloads/a6829040-7d88-4ea7-9c02-9f33a7c28105/LetterLogo-removebg-preview.png"
             alt="logo" width="60px" height="50px"> Eduphoria
        </div>
    </nav>
</header>
<span class="example-spacer"></span>
<a [routerLink]="'/register'"
     mat-icon-button class="example-icon favourite-icon "
     aria-label="Example icon-button with heart icon">
    <!-- <mat-icon>register</mat-icon> Register -->
</a>
</mat-toolbar>

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div style="margin-top: 50px;">
                <div class="col-md-6 offset-md-3" style="display:inline-block;">
                    <img src="https://www.identityautomation.com/wp-content/uploads/2020/09/Digitals-Textbooks-Art.png" alt=""
                        style="height: 500px;width: 500px;">
                    <!-- <br><br> -->
                    <!-- <h1 class="text-center" style="margin-right:180px;font-weight:lighter;font-size:xx-large;"> Create an Account </h1> -->
                </div>
            </div>

            <div class="col-md-6 offset-md-3">

                <h1 class="text-left" style="margin-left:100px;margin-top:30px;font-weight:lighter;font-size:xx-large;font-family: 'Times New Roman', Times, serif;"> Login to your account </h1>
                
                <div style="margin-top: 50px;">
                <form #LoginForm="ngForm" (ngSubmit)="login(LoginForm.value)">

                    <mat-form-field style="width:90%;" appearance="outline">
                        <mat-label> Username </mat-label>
                        <input type="text" name="username" ngModel #username="ngModel" matInput placeholder="Enter here" required>
                    </mat-form-field>
                    <div *ngIf="username.errors?.['required'] && username.touched">
                        <p style="font-weight: bold;">Please enter Username </p>
                    </div>

                    <!-- Password input -->
                    <mat-form-field style="width:90%;" appearance="outline">
                        <mat-label> Password </mat-label>
                        <input type="password" name="password" ngModel #password="ngModel" matInput
                            placeholder="Enter here" required  maxlength="20">
                    </mat-form-field>
                    <div *ngIf="password.errors?.['required'] && password.touched">
                        <p style="font-weight: bold;">Please enter password </p>
                    </div>
                    <!-- <div *ngIf="password.errors?.['minlength'] && password.touched">
                        <p style="font-weight: bold;"> *Password must be atleast 8 characters long</p>
                    </div> -->
                    <br />

                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                        
                        <div class="text-right" style="margin-right: 80px;">
                            <a href="#">Forgot password?</a>
                        </div>
                    </div>
                    <br>
                    <!-- Submit button -->
                    <div class="container form-group col-lg-12 mx-auto mb-0">
                        <button mat-raised-button color="primary" style="width:90%"> Sign in </button>
                    </div>

                </form>
                </div>
            </div>

            <div class="text-right w-100" style="margin-right: 220px;">
                <p class="text-muted font-weight-bold">Not a member? <a href="register" class="text-primary ml-2">
                        Register </a></p>
            </div>
            <div style="margin-left: 55%;">
            <app-googleauth></app-googleauth>
            </div>
        </div>
    </div>
</div>