<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20">Available Quizzes</h1>
        <div class="row mt20" *ngIf="quizzes">
            <div class="col-md-4" *ngFor="let q of quizzes">
                
                <mat-card class="mb20 ml10">

                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>
                            {{ q.title }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{ q.category.title }}
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <p class="truncate"> {{ q.description }}</p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button color="primary"> View</button>
                        <button mat-button color="accent" class="ml10"> Start </button>
                        <button mat-button color="accent"> Questions: {{ q.noOfQuestions }} </button>
                        <button mat-button color="accent"> Max Marks: {{ q.maxMarks }} </button> 
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col-md-12" *ngIf="quizzes.length==0">
                <mat-card>
                    <mat-card-content>
                        <h1> No data in this category </h1>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>