<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-8 offset-md-2">
             <form #addCatForm="ngForm" (ngSubmit)="formSubmit(addCatForm.value)">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Title</mat-label>
                  <input required type="text" name="title" matInput placeholder="Enter here" ngModel>
                </mat-form-field> 
                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea name="description" matInput placeholder="Enter description" rows="15" ngModel>
                        </textarea>
                  </mat-form-field>
                  <div class="container mt-15 cen">
                    <button mat-raised-button color="accent">ADD</button>
                  </div> 
             </form>
            </div>
        </div>
    </div>
    </mat-card-content>
</mat-card>
