<mat-toolbar color="accent">
    <a routerLink="/home"
     mat-icon-button class="example-icon"
     aria-label="Example icon-button with menu icon">
    <!-- <mat-icon>menu_book</mat-icon> -->
</a>

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container" style="margin-top: 20px;">
            <!-- Navbar Brand -->
            <img src="https://o.remove.bg/downloads/a6829040-7d88-4ea7-9c02-9f33a7c28105/LetterLogo-removebg-preview.png"
             alt="logo" width="60" height="50"> Eduphoria
        </div>
    </nav>
</header>
<span class="example-spacer"></span>
<a [routerLink]="'/logout'"
     mat-icon-button class="example-icon favourite-icon "
     aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon> Logout
</a>
</mat-toolbar>

<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <mat-card>
                    <mat-action-list>
                        <div mat-subheader> Categories </div>
                        <button mat-list-item [routerLink]="'/userdashboard'" (click)="getAllquizzes()">
                            <mat-icon mat-list-icon>quiz</mat-icon> All quizzes
                        </button>
                        <!-- [routerLink]="'/userdashboard/' + c.cid" -->
                        <button mat-list-item *ngFor="let c of categories" (click)="getQuizOfCat(c.cid)">
                            <mat-icon mat-list-icon>quiz</mat-icon> {{c.title}}
                        </button>
                    </mat-action-list>
                </mat-card>
        </div>
        
        <div class="col-md-10">
            <!-- <router-outlet></router-outlet> -->
            <div class="bootstrap-wrapper">
                <div class="container-fluid">
                    <h1 class="mt20">Available Quizzes</h1>
                    <div class="row mt20" *ngIf="quizzes">
                        <div class="col-md-4" *ngFor="let q of quizzes">
                            
                            <mat-card class="mb20  mr30">
            
                                <mat-card-header>
                                    <div mat-card-avatar class="header-image"></div>
                                    <mat-card-title>
                                        {{ q.title }}
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        {{ q.category.title }}
                                    </mat-card-subtitle>
                                </mat-card-header>
            
                                <mat-card-content>
                                    <p class="truncate"> {{ q.description }}</p>
                                </mat-card-content>
            
                                <mat-card-actions>
                                    <button mat-button color="primary"> View</button>
                                    <button mat-button color="accent" [routerLink]="'/instructions/'+q.qid" 
                                    class="ml10"> Start </button>
                                    <button mat-button color="accent"> Questions: {{ q.noOfQuestions }} </button>
                                    <button mat-button color="accent"> Max Marks: {{ q.maxMarks }} </button> 
                                </mat-card-actions>
                            </mat-card>
                        </div>
            
                        <div class="col-md-12" *ngIf="quizzes.length==0">
                            <mat-card>
                                <mat-card-content>
                                    <h1> No data in this category </h1>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
