.mt20{
    margin-top: 20px;
}

.mb20{
    margin-bottom: 20px;
    width:105%;
}

.ml10{
    margin-left: 10px;
}

.mr30{
    margin-right: 30px;
}

.truncate{
    display: block;
    white-space: nowrap;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-image{
    background-image: url('src\assets\images\exam.png');
    background-size: cover;
}