<!-- <router-outlet></router-outlet> -->

<ngx-ui-loader fgsColor="#ff4081" pbColor="#ff4081" text="please wait..."
textColor="#ff4081" ></ngx-ui-loader>
 <router-outlet></router-outlet>
<div ngxUiLoaderBlurred (blur)="6">
    <router-outlet></router-outlet> 
</div>  
