<h1 class="mt20">Questions of {{qTitle}} Quiz</h1>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <button mat-flat-button color="accent" [routerLink]="'/admin/question/'+qId+'/'+qTitle">Add Question</button>
            </div>
            <mat-card *ngFor="let q of questions;let i=index" class="mt20">
                <mat-card-content>
                  <p>
                    <b>
                        Q.{{i+1}} 
                    <span [innerHTML]="q.content">
                        {{q.content}}
                    </span>
                    </b>
                  </p>
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>a.</b>{{q.option1}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>b.</b>{{q.option2}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>c.</b>{{q.option3}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>d.</b>{{q.option4}}</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <p class="mt20">
                        <b>
                            Correct Answer:
                        </b>
                        {{q.ans}}
                    </p>
                  </div>
                </mat-card-content>
                <div class="action">
                <mat-card-actions>
                    <button class="cont" mat-raised-button color="accent" (click)="deleteQuestion(q.quesId)" >Delete</button>
                </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</div>