<div class="bootstrap-wrapper">
    <div class="row mt20">
        <div class="col-md-12">
            <h1>Adding to the {{qTitle}} Quiz</h1>
            <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    Enter the details of the new question
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form class="mt20" (submit)="formSubmit()">
                    <!-- <mat-form-field class="w100">
                        <mat-label>Enter the question</mat-label>
                        <textarea required
                        [(ngModel)]="question.content" name="content"
                        rows="8" matInput placeholder="Type Here"></textarea>
                      </mat-form-field> -->
                      <ckeditor [editor]="Editor" data="Enter your question here" name="content" [(ngModel)]="question.content"></ckeditor>
                      <div class="row">
                        <div class="col-md-6">

                         <mat-form-field class="w100">
                            <mat-label>Enter Option1</mat-label>
                            <input
                            [(ngModel)]="question.option1"
                            name="option1" required
                            type="text" matInput/>
                         </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w100">
                                <mat-label>Enter Option2</mat-label>
                                <input
                                [(ngModel)]="question.option2"
                            name="option2" required
                                type="text" matInput/>
                             </mat-form-field>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="w100">
                                <mat-label>Enter Option3</mat-label>
                                <input
                                [(ngModel)]="question.option3"
                            name="option3" 
                                type="text" matInput/>
                             </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w100">
                                <mat-label>Enter Option4</mat-label>
                                <input
                                [(ngModel)]="question.option4"
                            name="option4" 
                                type="text" matInput/>
                             </mat-form-field>
                        </div>
                      </div>
                      <mat-form-field class="w100">
                        <mat-label>Select Answer</mat-label>
                        <mat-select [(ngModel)]="question.ans" name="ans">
                            <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                            <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                            <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                            <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>

                        </mat-select>
                    </mat-form-field>
                    <div class="x">
                        <button mat-flat-button color="accent">Add</button>
                    </div>
                </form>
            </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
