<div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-4 mt-2 m-auto" >
          <button class="btn btn-primary" style="margin-left:auto; margin-right: auto;text-align: center;width:100%" #loginRef >
              Login with Google
            </button>
      </div>    
    </div>
  </div>