<mat-card>
    <mat-card-header><h3>Your Profile Details</h3></mat-card-header>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container">
                    <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?q=10&h=200" alt="admin" class="profile-image">
                    <h1 class="mt20" style="text-align:center">Administrator</h1>
                </div>
              <div class="row">
                <div class="col-md-10 offset-md-1">
                    <table class="table">
                      <tr>
                        <td>UserName</td>
                      <td>Admin</td>  
                      </tr>
                      <tr>
                        <td>UserID</td>
                      <td>EXAMP23</td>  
                      </tr>
                      <tr>
                
                <td>PhoneNo</td>
                <td>8050876541</td> 
                  </tr> 
                      
                      <tr>
                        <td>Role</td>
                      <td>ADMIN</td>  
                      </tr>
                      <tr>
                        <td>Status</td>
                      <td>Active</td>  
                      </tr>
                    </table>
                    </div>

                </div>
              </div>  
            </div>
    </mat-card-content>
    <mat-card-actions class="act">
      <button class="ac"  mat-raised-button color="primary">Update</button>
      <!-- <button class="ac" mat-raised-button color="accent">Share</button> -->
    </mat-card-actions>
  </mat-card>