.profile-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    max-height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}
.table
{
    width:100%;
    border-collapse: collapse;
  
}
.table tr td
{
    padding: 15px 10px;
    border:.5px solid gainsboro;
    text-align: center;
    
}
.act
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ac
{
    margin:15px 10px;
}
