.hi
{
    padding:5px;
    margin:40px;
}
.example-header-image
{
    background-image:url("src\assets\images\exam.png");
    background-size: cover;
}
.ml20
{
    margin-left: 20px;
}
.m
{
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}