<mat-card class="mt-10 hi" *ngFor="let q of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            {{q.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{q.category.title}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{q.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="accent" [routerLink]="'/admin/viewquestions/'+q.qid+'/'+q.title" >View Quiz</button>
        <button mat-flat-button class="ml20" color="accent">Max Marks:{{q.maxMarks}}</button>
        <button mat-flat-button class="ml20" color="accent">Questions:{{q.noOfQuestions}}</button>
        <button mat-flat-button class="ml20" color="accent" [routerLink]="'/admin/updatequiz/'+q.qid">Update</button>
        <button mat-flat-button class="ml20" color="accent" [routerLink]="'/admin/uploadquestions/'+q.qid">Upload</button>
        <button mat-raised-button class="ml20" color="accent" (click)="deleteQuizClick(q.qid)">Delete Quiz</button>
    </mat-card-actions>
    </mat-card>
    <div class="m">
        <button mat-raised-button color="accent" (click)="addQuizClick()">Add New Quiz</button>
    </div>
