<mat-toolbar color="accent">
    <a routerLink="/home"
     mat-icon-button class="example-icon"
     aria-label="Example icon-button with menu icon">
    <!-- <mat-icon>menu_book</mat-icon> -->
</a>

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container" style="margin-top: 20px;">
            <!-- Navbar Brand -->
            <img src="https://o.remove.bg/downloads/a6829040-7d88-4ea7-9c02-9f33a7c28105/LetterLogo-removebg-preview.png"
             alt="logo" width="60px" height="50px"> Eduphoria
        </div>
    </nav>
</header>
<span class="example-spacer"></span>

 <a mat-icon-button class="example-icon favourite-icon "
    aria-label="Example icon-button with heart icon" style="text-decoration: none;"> Welcome admin!
</a>
</mat-toolbar>

<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-10">
                <!-- <app-profile></app-profile> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>