<div class="bootstrap-wrapper">
<div class="container">
  <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center">
          <h1>Welcome to Examportal</h1>
          <!-- <button mat-raised-button color="accent">Home Page</button> -->
      </div>
  </div>
</div>
</div>