<!-- <div class="container" style="display: inline-block;">
    <img src="src/assets/images/WhatsApp Image 2023-05-06 at 5.01.05 PM.jpeg" alt="" style="height: 500px;width: 500px;">
</div> -->
<mat-toolbar color="accent" class="fixednav">
    <a routerLink="/home"
     mat-icon-button class="example-icon"
     aria-label="Example icon-button with menu icon">
    <!-- <mat-icon>menu_book</mat-icon> -->
</a>

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container" style="margin-top: 20px;">
            <!-- Navbar Brand -->
            <img src="https://o.remove.bg/downloads/a6829040-7d88-4ea7-9c02-9f33a7c28105/LetterLogo-removebg-preview.png"
             alt="logo" width="60px" height="50px"> Eduphoria
        </div>
    </nav>
</header>
<span class="example-spacer"></span>
<a [routerLink]="'/login'"
     mat-icon-button class="example-icon favourite-icon "
     aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon> Login
</a>
</mat-toolbar>

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div style="margin-top: 30px;">
                <h1 class="text-left" style="margin-left:100px;font-weight:lighter;font-size:xx-large;font-family: 'Times New Roman', Times, serif;"> Create an
                    Account </h1>
                <div class="col-md-6 offset-md-3" style="display:inline-block;">
                    <img src="https://www.identityautomation.com/wp-content/uploads/2020/09/Digitals-Textbooks-Art.png" alt=""
                        style="height: 500px;width: 500px;">
                    <!-- <br><br> -->
                    <!-- <h1 class="text-center" style="margin-right:180px;font-weight:lighter;font-size:xx-large;"> Create an Account </h1> -->
                </div>
            </div>

            <div class="col-md-6 offset-md-3">
                <!-- <h1 align="center"> Register Here!</h1> -->

                <form #regForm="ngForm" (ngSubmit)="formSubmit(regForm.value)">

                    <mat-form-field style="width:90%;" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" name="username" ngModel #username="ngModel" matInput placeholder="Enter here" required>
                        <mat-hint> Username must be unique </mat-hint>
                    </mat-form-field><br>
                    <div *ngIf="username.errors?.['required'] && username.touched">
                        <p style="font-weight: bold;"> Username is required </p>
                    </div>

                    <mat-form-field style="width:90%;" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" name="password" ngModel #password="ngModel" matInput placeholder="Enter here" required 
                        minlength="8" maxlength="15"
                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-zd$@$!%*?&].{8,}"> 
                    </mat-form-field>
                    <div *ngIf="password.errors?.['required'] && password.touched">
                        <p style="font-weight: bold;"> Password is required </p>
                    </div>
                    <div *ngIf="password.errors?.['minlength'] && password.touched">
                        <p style="font-weight: bold;"> Password must be atleast 8 characters</p>
                    </div>
                    <div *ngIf="password.errors?.['pattern'] && password.touched">
                        <p style="font-weight: bold;">
                            <pre> Password must contain
                                1 uppercase,
                                1 lowercase,
                                1 digit,
                                1 special character
                            </pre> 
                    </div>

                    <mat-form-field style="width:90%;" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" matInput placeholder="Enter here"
                            required minlength="8" maxlength="15" pattern="{{password.value}}">
                    </mat-form-field>
                    <div *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched">
                        <p style="font-weight: bold;"> Confirm Password is required </p>
                    </div>
                    <div *ngIf="confirmPassword.errors?.['pattern'] && !confirmPassword.errors?.['required'] && confirmPassword.touched">
                        <p style="font-weight: bold;"> Password & Confirm Password doesn't match</p>
                    </div>

                    <mat-form-field style="width:90% ;" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input type="text" name="firstname" ngModel matInput placeholder="Enter here" required>
                    </mat-form-field>

                    <mat-form-field style="width:90%;" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input type="text" name="lastname" ngModel matInput placeholder="Enter here" required>
                    </mat-form-field>

                    <mat-form-field style="width:90%;" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input type="text" name="email" ngModel #email="ngModel" matInput placeholder="Enter here" required 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                          <!-- <mat-error *ngIf="regForm.get('email').errors?.required"> Email is required </mat-error> --> 
                         <!-- <mat-error *ngIf="userForm.get('email').hasError('email')"> Please enter valid email address </mat-error> -->
                    </mat-form-field>
                    <div *ngIf="email.errors?.['required'] && email.touched">
                        <p style="font-weight: bold;"> Email is required </p>
                    </div>
                    <div *ngIf="email.errors?.['pattern'] && email.touched">
                        <p style="font-weight: bold;"> Enter valid email format </p>
                    </div>

                    <mat-form-field style="width:90%;" appearance="outline">
                        <mat-label> Phone Number</mat-label>
                        <input type="text" name="phone" ngModel #phone="ngModel" 
                        pattern="^[6-9][0-9]{9}$" matInput placeholder="Enter here" required  maxlength="10">
                    </mat-form-field>
                    <div *ngIf="phone.errors?.['required'] && phone.touched">
                        <p style="font-weight: bold;"> Phone Number is required </p>
                    </div>
                    <div *ngIf="phone.errors?.['pattern'] && phone.touched">
                        <p style="font-weight: bold;"> Enter valid phone number</p>
                    </div>

                    <div class="container form-group col-lg-12 mx-auto mb-0">
                        <button mat-raised-button color="primary" style="width:90%"> Create your account</button>
                    </div>

                </form>
            </div>

            <div class="text-right w-100" style="margin-right: 230px;">
                <p class="text-muted font-weight-bold">Already Registered? <a href="login"
                        class="text-primary ml-2"> Login </a></p>
            </div>
            
        </div>
    </div>
</div>